<div class="container">
  <slot />
</div>

<style>
  .container {
    padding: 24px 32px;
  }

  @media screen and (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      width: min(100%, 1400px);
      margin-inline: auto;
      padding: 0 32px 0 16px;
    }
  }
</style>
