---
const currentPage = Astro.url.pathname;
---

<nav class="sideNav">
  <h3 class="sideNav__title">Components</h3>
  <ul class="componentList">
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/hamburger-menu/" ? "active" : ""
        }`}
        href="/hamburger-menu/">Hamburger Menu</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
    <li>
      <a
        class={`componentList__link ${
          currentPage === "/accordion/" ? "active" : ""
        }`}
        href="/accordion/">Accordion</a
      >
    </li>
  </ul>
</nav>

<style>
  .sideNav {
    height: 100%;
    padding: 32px;
    overflow: hidden scroll;
  }

  .sideNav__title {
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: 600;
    color: hsl(var(--foreground));
  }

  .componentList {
    display: flex;
    flex-direction: column;
  }

  .componentList__link {
    padding: 4px 0;
    font-size: 14px;
    color: hsl(var(--muted-foreground));
    text-decoration: none;
  }

  .componentList__link:hover {
    text-decoration: underline;
  }

  .componentList__link.active {
    font-weight: 600;
    color: hsl(var(--foreground));
  }
</style>
