---
import { MENU_LIST } from "../../consts";
const currentPage = Astro.url.pathname;
---

<nav class="sideNav">
  <h3 class="sideNav__title">Components</h3>
  <ul class="componentList">
    {
      MENU_LIST.map((menu) => (
        <li>
          <a
            href={menu.path}
            class={`componentList__link ${
              currentPage === menu.path ? "active" : ""
            }`}
          >
            {menu.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  @media screen and (max-width: 768px) {
    .sideNav {
      display: none;
    }
  }

  .sideNav {
    height: 100vh;
    height: 100dvh;
    padding: 0 16px;
    overflow: hidden;
  }

  @media (hover) {
    .sideNav:hover {
      overflow: hidden scroll;
      scrollbar-width: thin;
    }
  }

  .sideNav__title {
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: 600;
    color: hsl(var(--foreground));
  }

  .componentList {
    display: flex;
    flex-direction: column;
  }

  .componentList__link {
    padding: 4px 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.25rem;
    letter-spacing: 0.02em;
    color: hsl(var(--muted-foreground));
    text-decoration: none;
  }

  .componentList__link:hover {
    text-decoration: underline;
  }

  .componentList__link.active {
    font-weight: 600;
    color: hsl(var(--foreground));
  }
</style>
