---
import Card from "../components/Card.astro";
import DocsHeading from "../components/DocsHeading.astro";
import { SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
import AccordionDefault from "../source/accordion-menu/AccordionDefault.mdx";
import AccordionWithArrow from "../source/accordion-menu/AccordionWithArrow.mdx";
---

<Layout title={`${SITE_TITLE} - Accordion`} description="Accordion">
  <div>
    <h1>Accordion</h1>
    <p>
      クリックすることで隠れていた内容を表示させたり、隠したりするナビゲーションメニュー
    </p>

    <DocsHeading id="preview">Preview</DocsHeading>
    <Card>
      <div class="accordion">
        <details class="details">
          <summary class="summary">summary</summary>
          <div class="details__content">contents</div>
        </details>
        <details class="details">
          <summary class="summary">summary</summary>
          <div class="details__content">contents</div>
        </details>
        <details class="details">
          <summary class="summary">summary</summary>
          <div class="details__content">contents</div>
        </details>
      </div>
    </Card>
  </div>

  <div class="code">
    <DocsHeading id="code">Code</DocsHeading>
    <AccordionDefault />
  </div>

  <div>
    <h2>with Arrow icon</h2>
    <DocsHeading id="preview">Preview</DocsHeading>

    <Card>
      <div class="accordion">
        <details class="details">
          <summary class="summary summary--arrow js-summaryArrow"
            >summary</summary
          >
          <div class="details__content">contents</div>
        </details>
        <details class="details">
          <summary class="summary summary--arrow js-summaryArrow"
            >summary</summary
          >
          <div class="details__content">contents</div>
        </details>
        <details class="details">
          <summary class="summary summary--arrow js-summaryArrow"
            >summary</summary
          >
          <div class="details__content">contents</div>
        </details>
      </div>
    </Card>
  </div>

  <div class="code">
    <DocsHeading id="code">Code</DocsHeading>
    <AccordionWithArrow />
  </div>
</Layout>

<style>
  .summary::marker,
  .summary::-webkit-details-marker {
    display: none;
    content: "";
  }

  .accordion {
    width: min(100%, 460px);
    display: block;
    color: hsl(var(--foreground));
    text-align: left;
  }

  .summary {
    padding: 16px 0;
  }

  .summary--arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
  }

  .summary--arrow::after {
    display: inline-block;
    content: "";
    right: 0;
    width: 6px;
    height: 6px;
    border-top: 1px solid hsl(var(--foreground));
    border-right: 1px solid hsl(var(--foreground));
    transform: rotate(135deg);
    transition: transform 0.3s ease;
  }

  .summary--arrow.is-active::after {
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
  }

  @media (hover: hover) {
    .summary:hover {
      text-decoration: underline;
    }
  }

  .details {
    border-bottom: 1px solid hsl(var(--border));
  }

  .details__content {
    padding-bottom: 16px;
    font-size: 14px;
  }
</style>

<script>
  const summaryArrows = Array.from(
    document.querySelectorAll(".js-summaryArrow"),
  );

  summaryArrows.map((summaryArrow) => {
    summaryArrow.addEventListener("click", () => {
      summaryArrow.classList.toggle("is-active");
    });
  });
</script>
