---
import Card from "../components/Card.astro";
import DocsHeading from "../components/DocsHeading.astro";
import { SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
import AccordionDefault from "../source/accordion-menu/AccordionDefault.mdx";
---

<Layout title={`${SITE_TITLE} - Accordion`} description="Accordion">
  <div>
    <h1>Accordion</h1>
    <p>
      クリックすることで隠れていた内容を表示させたり、隠したりするナビゲーションメニュー
    </p>

    <div>
      <DocsHeading id="preview">Preview</DocsHeading>
      <Card>
        <div class="accordion">
          <details class="details">
            <summary class="summary">summary</summary>
            <div class="details__content">contents</div>
          </details>
          <details class="details">
            <summary class="summary">summary</summary>
            <div class="details__content">contents</div>
          </details>
          <details class="details">
            <summary class="summary">summary</summary>
            <div class="details__content">contents</div>
          </details>
        </div>
      </Card>
    </div>
  </div>

  <div class="code">
    <DocsHeading id="code">Code</DocsHeading>
    <AccordionDefault />
  </div>

  <div>
    <DocsHeading id="examples">Examples</DocsHeading>
    <h3>with Arrow Icon</h3>
  </div>
</Layout>

<style>
  .summary::marker,
  .summary::-webkit-details-marker {
    display: none;
    content: "";
  }

  .accordion {
    width: min(100%, 460px);
    display: block;
    color: hsl(var(--foreground));
    text-align: left;
  }

  .summary {
    padding: 12px 0;
  }

  @media (hover: hover) {
    .summary:hover {
      text-decoration: underline;
    }
  }

  .details {
    border-bottom: 1px solid hsl(var(--border));
  }

  .details__content {
    padding-bottom: 16px;
    font-size: 14px;
  }
</style>
