---
import { SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={`${SITE_TITLE} - Accordion`} description="Accordion">
  <div>
    <h1>Accordion</h1>
  </div>
</Layout>
