---
import { SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={`${SITE_TITLE} - Hamburger Menu`} description="Hamburger Menu">
  <div>
    <h1>Hamburger Menu</h1>
    <p>三本線のアイコン「≡」で表されるナビゲーションメニュー。</p>
  </div>
</Layout>
