---
import { SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={`${SITE_TITLE} - Hamburger Menu`} description="Hamburger Menu">
  <div>
    <h1>Hamburger Menu</h1>
    <p>
      三本線のアイコン「≡」で表されるナビゲーションメニュー。スマートフォン向けのアプリやサイトに設置されることが多かったが、近年ではPC向けのサイトなどでも使われることが増えた。
    </p>
  </div>
</Layout>
