---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={`Hymt - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <h1>My UI Component assets</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda saepe
    facere dignissimos. Iure, nesciunt. Corporis ullam facilis inventore ad
    tempora dicta, blanditiis voluptatem quis amet itaque consectetur aliquid
    perferendis, voluptatum corrupti recusandae nemo, illo reprehenderit laborum
    dolore. Blanditiis omnis fuga, quisquam adipisci similique eos ullam sint
    pariatur ex voluptatem, quos nemo tempore sit earum! Officia minus quasi
    modi, voluptas delectus, reprehenderit quam ducimus voluptatibus architecto,
    fugiat rerum nulla reiciendis qui quia. Doloribus ab iste aliquid eveniet
    eligendi reiciendis et vero?
  </p>
</Layout>

<style></style>
