<div class="card"><slot /></div>

<style>
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 410px;
    padding: 16px 32px;
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius);
  }
</style>
