---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<h3 id={id} class="heading"><slot /></h3>

<style>
  .heading {
    margin: 24px 0 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(var(--border));
  }
</style>
