<nav class="menu">
  <button type="button" class="js-toggleButton">Open</button>
  <ul class="menuList js-menuList">
    <li><a href="/">Hamburger Menu</a></li>
  </ul>
</nav>

<script>
  const toggleButton = document.querySelector(".js-toggleButton");
  const menuList = document.querySelector(".js-menuList");

  toggleButton.addEventListener("click", () => {
    menuList.classList.toggle("is-active");
  });
</script>

<style>
  .menu {
    position: absolute;
    left: 50%;
    width: min(100%, 400px);
    padding: 10px;
    bottom: 24px;
    border-radius: var(--radius-lg);
    background-color: #333;
    transform: translateX(-50%);
  }

  @media screen and (min-width: 768px) {
    .menu {
      display: none;
    }
  }

  .menuList {
    opacity: 0;
    visibility: hidden;
  }

  .menuList.is-active {
    opacity: 1;
    visibility: visible;
  }
</style>
