---
import { Image } from "astro:assets";
---

<nav class="menu">
  <ul class="menuList js-menuList">
    <li><a href="/">Hamburger Menu</a></li>
  </ul>

  <div class="menuIcons">
    <Image
      src="/favicon.svg"
      width="32"
      height="32"
      alt=""
      aria-hidden="true"
    />
    <button type="button" class="js-toggleButton">Button</button>
  </div>
</nav>

<script>
  const toggleButton = document.querySelector(".js-toggleButton");
  const menuList = document.querySelector(".js-menuList");

  toggleButton.addEventListener("click", () => {
    menuList.classList.toggle("is-active");
  });
</script>

<style>
  .menu {
    position: absolute;
    left: 50%;
    width: min(100%, 260px);
    padding: 10px 16px;
    bottom: 24px;
    border-radius: var(--radius-lg);
    background-color: #333;
    transform: translateX(-50%);
  }

  @media screen and (min-width: 768px) {
    .menu {
      display: none;
    }
  }

  .menuIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuList {
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition:
      height 0.3s ease,
      opacity 0.3s ease;
  }

  .menuList.is-active {
    opacity: 1;
    visibility: visible;
    height: 100px;
    transition:
      height 0.3s ease,
      opacity 0.3s ease;
  }
</style>
