---
import { Image } from "astro:assets";
import { menuComponents } from "../consts";
---

<nav class="menu">
  <ul class="menuList js-menuList">
    {
      menuComponents.map((menu) => (
        <li>
          <a href={menu.path}>{menu.label}</a>
        </li>
      ))
    }
  </ul>

  <div class="menuIcons">
    <Image
      src="/favicon.svg"
      width="32"
      height="32"
      alt=""
      aria-hidden="true"
    />
    <button type="button" class="js-toggleButton">Button</button>
  </div>
</nav>

<script>
  const toggleButton = document.querySelector(".js-toggleButton");
  const menuList = document.querySelector(".js-menuList");

  toggleButton.addEventListener("click", () => {
    menuList.classList.toggle("is-active");
  });
</script>

<style>
  .menu {
    position: absolute;
    left: 50%;
    width: min(85%, 320px);
    padding: 10px 16px;
    bottom: 24px;
    border-radius: var(--radius-md);
    background-color: #333;
    transform: translateX(-50%);
  }

  @media screen and (min-width: 768px) {
    .menu {
      display: none;
    }
  }

  .menuIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuList {
    opacity: 0;
    overflow: scroll;
    height: 0;
    transition:
      height 0.3s ease,
      opacity 0.3s ease;
  }

  .menuList.is-active {
    opacity: 1;
    visibility: visible;
    height: auto;
    max-height: 300px;
    margin: 12px 0;
    transition:
      height 0.3s ease,
      opacity 0.3s ease;
  }
</style>
