---
import "modern-css-reset";
import Header from "../components/Header.astro";
import MenuMobile from "../components/MenuMobile.astro";
import SideMenu from "../components/SideMenu.astro";
import GridLayout from "../components/layout/GridLayout.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <GridLayout>
      <MenuMobile />
      <aside class="aside">
        <SideMenu />
      </aside>

      <main class="main">
        <slot />
      </main>
    </GridLayout>
  </body>
</html>

<style>
  .aside {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .aside {
      display: block;
      position: sticky;
      grid-area: 1 / 1 / auto / auto;
      min-width: 180px;
      top: 56px;
      padding-top: 30px;
      align-self: start;
    }
  }

  @media screen and (min-width: 768px) {
    .main {
      grid-area: 1 / span 12 / auto / span 12;
      padding: 24px 40px;
    }
  }

  @media screen and (min-width: 1200px) {
    .main {
      padding: 24px 52px;
    }
  }
</style>
